@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --bg-color: #001F3F;
    --secondary-bg-color: #001428;
    --main-color: #0072af;
    --text-color: #141414;
    --secondary-text-color: #fff;
    --gray-border: #e9ecef;
}

body {
    background-color: var(--secondary-bg-color) !important;
}

#profile-column {
    background: var(--bg-color);
    padding: 2.2rem;
    height: 100vh;
    width: 50%;
    z-index: 5;
}

.profile-avatar img {
    border-radius: 50%;
    width: 18rem;
    height: auto;
}

#name {
    font-size: 2.8rem;
    font-weight: bold;
}

#degree {
    font-size: 1.3rem;
    opacity: .7;
}

.social-icon {
    width: 3rem;
    font-size: 3rem;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: var(--secondary-text-color);
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.15);
}

.link-contact {
    color: var(--bg-color) !important;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-menu li {
    padding: 1rem 0;
}

.link-nav.left {
    position: relative;
    font-size: 1.6rem;
}

.link-nav.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0.1rem;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-text-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.link-nav.left:hover:before {
    visibility: visible;
    width: 100%;
}

.main-content {
    background: var(--secondary-text-color);
    font-size: 1.6rem;
    overflow-x: hidden;
}

.main-content section {
    position: relative;
    border-bottom: solid 0.2rem var(--gray-border);
    border-radius: .2rem;
}

.section-header i {
    font-size: 2.8rem;
    color: var(--main-color);
    padding-right: .3rem;
}

.animation-grow {
    gap: .5rem;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}

.animation-grow:hover {
    transform: scale(1.05);
}

.title {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 0;
    font-size: 3.2rem;
}

.title-skills,
.title-course,
.title-education {
    font-size: 1.7rem;
    font-weight: bold;
}

.skill-icon {
    cursor: pointer;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
}

.skill-icon img {
    width: 45px !important;
    height: 45px !important;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.skill-icon:hover {
    transform: scale(1.1);
}

.skill-progressbar {
    height: 10px;
}

.skill-progressbar div {
    background-color: var(--main-color);
    opacity: 0.9;
}

.language {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-language {
    text-align: center;
}

.title-language {
    top: -8rem;
    font-size: 1.4rem;
    position: relative;
} 

.bar-brightness-filter {
    transition: 0.5s;
}

.bar-brightness-filter:hover {
    filter: brightness(120%);
}

.radial-progressbar svg {
    width: 15rem;
    height: 15rem;
    fill: transparent;
    transform: rotate(320deg);
}

.radial-progressbar:last-child svg {
    transform: rotate(10deg);
}

.radial-progressbar svg .bar-out {
    stroke-width: 0.6rem;
    stroke: var(--gray-border);
}

.radial-progressbar svg .bar-fill {
    stroke-width: 0.6rem;
    stroke: var(--main-color);
    stroke-linecap: round;
    stroke-dashoffset: 9.8rem;
    stroke-dasharray: 34.2rem;
    animation: fill_first 2s forwards;
}

.radial-progressbar:last-child svg .bar-fill {
    animation: fill_last 2s forwards;
}

.timeline {
    position: relative;
    margin-left: 1%;
    padding-left: 1.94rem;
}

.education-description,
.course-description {
    position: relative;
}

.timeline .education-description::before,
.timeline .course-description::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2.6rem;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.2rem solid var(--secondary-bg-color);
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: 3;
    margin-top: 0.22rem;
}

.timeline::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0.3rem;
    height: 100%;
    background-color: var(--secondary-bg-color);
    margin-top: 0.25rem;
    z-index: 2;
}

.education-description ul li {
    list-style-type: circle !important;
}

.interest figure i {
    color: var(--bg-color);
    font-size: 5rem;
}

.toggle-btn {
    background: var(--text-color);
    color: var(--secondary-text-color);
    height: 5rem;
    right: 0;
    position: fixed;
    width: 5rem;
    z-index: 3;
    display: none;
    visibility: hidden;
}

.hamburger-menu {
    position: absolute;
    top: 0;
    left: 1.1rem;
    bottom: 0;
    margin: auto;
    width: 3rem;
    height: 5.5rem;
    cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
    width: 3rem;
    height: 0.3rem;
}

.bar {
    position: relative;
    transform: translateY(25px);
    background: var(--secondary-text-color);
    transition: all 0 300ms;
}

.bar.animate {
    background: rgba(255, 255, 255, 0);
}

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    background: var(--secondary-text-color);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    background: var(--secondary-text-color);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

@media only screen and (max-width: 991px) {
    .resume {
        overflow-x: hidden;
    }

    .toggle-btn {
        display: block;
        visibility: visible;
    }

    #profile-column {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        padding: 0.4rem;
    }

    #profile-column {
        animation: backInLeft;
        animation-duration: 0.65s;
    }

    #name {
        padding: 5px;
    }

    .main-content {
        overflow-x: hidden;
    }
}

@media only screen and (min-width: 780px) {
    #profile-column {
        position: sticky;
        width: 50%;
    }
}

@media only screen and (max-width: 560px) {
    #profile-column {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 60%;
        padding: 0.4rem;
    }
}

@keyframes fill_first {
    0% {
        stroke-dasharray: 12rem;
    }
    100% {
        stroke-dasharray: 34.2rem;
    }
}

@keyframes fill_last {
    0% {
        stroke-dasharray: 12rem;
    }
    100% {
        stroke-dasharray: 30.2rem;
    }
}